<div class="floatLeft" style={background-color:yellow}>
    <table class="table">
        <tbody class="thead-dark">
            <tr>
                <td scope="col" ><b>Name</b></td>
                <td scope="col" ><%= pdata.player_name %></td>
            </tr>
            <tr>
                <td scope="col" ><b>DOB</b></td>
                <td scope="col" ><%= pdata.dob %> (mm/dd/yyyy)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="floatRight">
    <table class="table">
        <tbody>
            <tr>
                <td scope="col" ><b>Batting_hand</b></td>
                <td scope="col" ><%= pdata.batting_hand %></td>
            </tr>
            <tr>
                <td scope="col" ><b>Bowling_skill</b></td>
                <td scope="col" ><%= pdata.bowling_skill%></td>
            </tr>
            <tr>
                <td scope="col" ><b>Country</b></td>
                <td scope="col" ><%= pdata.country_name%></td>
            </tr>
        </tbody>
    </table>
</div>
