<!DOCTYPE html>
<html lang="en">
<head>
    <title>Homepage</title>
    <%- include('./partials/header'); -%>
    <script>
        $('.select2').select2();
    </script>
    
</head>
<body style="width:100%;border:5px solid rgb(145, 38, 38);">
    <%- include('./partials/nevbar'); -%>

    <div style="margin-top:20px;background-color:blue;width:100%">
            <form class="col-md-2" style="float:left" action="/search-multi-player" method="POST">
                <div class="row">
                    <select class="form-control select2" name="country_name">
                    <option>All Countries</option>
                    <% allCountry.forEach(function(country){ %>
                        <option><%=country.country_name%></option>
                    <% }) %>
                    </select>
    
                    <select class="form-control select2" name="team_name">
                    <option>All Teams</option>
                    <% allTeam.forEach(function(tm){ %>
                        <option><%=tm.team_name%></option>
                    <% }) %>
                    </select>
    
                    <select class="form-control select2" name="season_year">
                    <option>All Seasons</option>
                    <% allSeason.forEach(function(yr){ %>
                        <option><%=yr.season_year%></option>
                    <% }) %>
                    </select>
    
                    <select class="form-control select2" name="property">
                    <option>Six/Four/Wickets</option>
                    <option>Most_Six_Hitter</option> 
                    <option>Most_Four_Hitter</option> 
                    <option>Most_Wickets_Taker</option>
                    </select>
                    <button class="form-control select2 btn btn-outline-success my-2 my-sm-0"
                        style="background-color:#daf0b1"
                    type="submit">Search</button>
                </div>
            </form>
    </div>
    <div style="text-align:center">
        <h4>All Players</h4>
    </div>
    <br>
    <div class="center">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Player_ID</th>
                <th scope="col">Player_Name</th>
                <th scope="col">DOB</th>
                <th scope="col">Batting</th>
                <th scope="col">Bowling</th>
                <th scope="col">Country</th>
                </tr>
            </thead>
            <tbody>
                <% allPlayer.forEach(function(posts){ %>
                    <tr>
                        <td><%= posts.player_id %></td>
                        <td><%= posts.player_name %></td>
                        <td><%= posts.dob %></td>
                        <td><%= posts.batting_hand %></td>
                        <td><%= posts.bowling_skill %></td>
                        <td><%= posts.country_name%></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
<%- include('./partials/script'); -%>
</html>