<!DOCTYPE html>
<html lang="en">
<head>
    <title>Player Data</title>
    <%- include('./partials/header'); -%>
    <script>
        $('.select2').select2();
    </script>
    <style>
        .floatLeft { width: 50%; float: left; }
        .floatRight {width: 50%; float: right; }  
        p.big {
            line-height: 1.8;
        }
    </style>
</head>
<body style="width:100%;">
    <%- include('./partials/nav/Inav'); -%>
    <%- include('./partials/PlayerProfile'); -%>
    <br><br><br><br>
    <div>
        <p class ="big">    
        <header>
            <h3><b>BATTING STATISTICS</b></h3>
        </header>
        </p>
    </div>
    <br>
    <div class="center">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Season</th>
                <th scope="col">Matches</th>
                <th scope="col">Runs</th>
                <th scope="col">Highest Score</th>
                <th scope="col">100</th>
                <th scope="col">50</th>
                </tr>
            </thead>
            <tbody>
                <% p_stats.forEach(function(posts){ %>
                    <tr>
                        <td><%= posts.season %></td>
                        <td><%= posts.matches %></td>
                        <td><%= posts.runs_scored %></td>
                        <td><%= posts.hs %></td>
                        <td><%= posts.centuries %></td>
                        <td><%= posts.fifties %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    <br>
    <div>
        <p class ="big">    
        <header>
            <h3><b>BOWLING STATISTICS</b></h3>
        </header>
        </p>
    </div>
    <br>
    <div class="center">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">Season</th>
                <th scope="col">Matches</th>
                <th scope="col">Wickets</th>
                <th scope="col"># Total Balls</th>
                <th scope="col">#Wide ball</th>
                <th scope="col">#No ball</th>
                </tr>
            </thead>
            <tbody>
                <% PlayerBallStats.forEach(function(posts){ %>
                    <tr>
                        <td><%= posts.season_year %></td>
                        <td><%= posts.total_matches %></td>
                        <td><%= posts.wickets %></td>
                        <td><%= posts.totalballs%></td>
                        <td><%= posts.totalwides %></td>
                        <td><%= posts.totalnoballs %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    
</body>
<%- include('./partials/script'); -%>
</html>